
.btnadd{
    max-width: 800px;
    margin: auto;
    border: 3px solid rgb(18, 19, 18);
    background-color: #999996;
    position: absolute;
    margin-top: 600px;
    margin-bottom: 50px;
    width: 100px;
    height: 50px;
    
 
  
}